{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block pagename %}Выбери правильный, жизненный путь{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %} " />

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %} ">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %} ">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %} ">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %} ">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %} ">
    <link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css" %} ">
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %} ">
    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %} ">
    <link rel="stylesheet" href="{% static "css/aos.css" %} ">
    <link rel="stylesheet" href="{% static "css/style.css" %} ">
    <link rel="stylesheet" href="{% static '/css/bootstrap/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="{% static '/css/iframe.css' %} ">
    <link rel="stylesheet" href="{% static '/css/styles.min.css' %} ">


  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" style="background-color: #676767;" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="/digital/" class="h2 mb-0" style="color:#ffffff;">Найди себя!</a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/digital/#home-section" class="nav-link">Главное</a></li>
                <li class="has-children">
                  <a href="/digital/#about-section" class="nav-link">О нас</a>
                  <ul class="dropdown">
                    <li><a href="/digital/#team-section" class="nav-link">Команда</a></li>
                    <li><a href="/digital/#services-section" class="nav-link">Услуги</a></li>
                    <li><a href="/digital/#content-section" class="nav-link">Контент</a></li>
                    <li><a href="/digital/#contact-section" class="nav-link">Контакты</a></li>
                  </ul>
                </li>

                <li class="has-children">
                  <a href="#" class="nav-link">Профессия</a>
                  <ul class="dropdown">
                    <li><a href="/digital/testing" class="nav-link">Пройти тестирование</a></li>
                    <li><a href="/digital/find_profession" class="nav-link">Выбрать профессию</a></li>
                  </ul>
                </li>

                {% if sessid == True %}

                <li><a href="/digital/company/{{company_name}}" class="nav-link">Моя компания</a></li>

                {% endif %}

                <li><a href="/digital/login/" class="nav-link">Вход</a></li>
                <li><a href="/digital/register/" class="nav-link">Регистрация</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>

 {% block content %}
    <div class="site-blocks-cover overlay" style="background-image: url({% static "images/hero_2.jpg" %});" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">


          <div class="col-md-8 mt-lg-5 text-center">
            <h1 class="text-uppercase" data-aos="fade-up">Добро пожаловать, дорогой друг!</h1>
            <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Информационный ресурс для подростков, позволяющего повысить качество их профессиональной ориентации</p>
            <div data-aos="fade-up" data-aos-delay="100">
              <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Как с нами связаться</a>
            </div>
          </div>

        </div>
      </div>

      <a href="#about-section" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>


    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">О нас</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{% static "images/hero_1.jpg" %}" alt="Image" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Почему мы решили этим заняться?</h3>
              <p>Мы хотим помочь учащимся школ 8-11 классов сделать правильный жизненный выбор.
              А родителям дать интуитивно-понятный каталог специальностей для помощи своим детям.</p>

            </div>


            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Предоставляем актуальную информацию о профессиях</li>
                <li>Различные воркшопы и активности</li>
                <li>Своевременные советы от специалистов</li>
                <li>Помогаем с выбором профессии</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>


    <section class="site-section border-bottom" id="team-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Наша команда</h2>
          </div>
        </div>
        <div class="row">


          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
            <div class="team-member">
              <figure>
                <img src="{% static "images/person_5.jpg" %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Валера</h3>
                <span class="position">Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <img src="{% static "images/person_6.jpg" %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Леха</h3>
                <span class="position">Product Manager</span>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <figure>
                <img src="{% static "images/person_3.jpg" %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Антон</h3>
                <span class="position">Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <figure>
                <img src="{% static "images/person_4.jpg" %}" alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Андрей</h3>
                <span class="position">Product Manager</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="site-section border-bottom bg-light" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Мы предоставляем</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-startup"></span></div>
              <div>
                <h3>Тесты по профориентации</h3>
                <p>Проверка собственных сил, которая моделирует определенный вид профессиональной деятельности и способствует осознанному и обоснованному выбору профессии</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-graphic-design"></span></div>
              <div>
                <h3>Видеоконтент</h3>
                <p>Регулярные видеорлики, в которых представители разных профессий рассказывают о своей работе</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="unit-4">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-idea"></span></div>
              <div>
                <h3>Консультация от работодателей</h3>
                <p>Представители от организаций готовый предоставить всю информации о деятельности и перспективах профессий</p>
              </div>
            </div>
          </div>



        </div>
      </div>
    </section>


    <section class="site-section" id="content-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Контент</h2>
          </div>
        </div>
        <div class="row mb-5">

          <div class="col-lg-5 ml-auto mb-5 order-1 order-lg-2" data-aos="fade" data-aos="fade-up" data-aos-delay="">
            <img src="{% static "images/about_1.jpg" %}" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-lg-6 order-2 order-lg-1" data-aos="fade">

            <div class="row">



              <div class="col-md-12 mb-md-5 mb-0 col-lg-6" data-aos="fade-up" data-aos-delay="">
                <div class="unit-4">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span></div>
                  <div>
                    <h3>Тестирование</h3>
                    <p>Предлагаем пройти тесты для первичной диагностики школьников</p>
                    <p class="mb-0"><a href="/digital/testing/">Узнать больше</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-md-5 mb-0 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="unit-4">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                  <div>
                    <h3>Видеоконтент</h3>
                    <p>Видеоролики, в которых представители разных профессий рассказывают о своей работе</p>
                    <p class="mb-0"><a href="/digital/my_company/">Узнать больше</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

        <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Контакты</h2>
          </div>
        </div>
        <div class="row mb-5">



          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-room d-block h4 text-primary"></span>
              <span>Санкт-Петербург</span>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-phone d-block h4 text-primary"></span>
              <a href="#">+7 911 512 1024</a>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-0">
              <span class="icon-mail_outline d-block h4 text-primary"></span>
              <a href="#">admin@redh4ck.ml</a>
            </p>
          </div>
        </div>
      </div>
    </section>


{% endblock %}


  </div> <!-- .site-wrap -->

  <script src="{% static "js/jquery-3.3.1.min.js" %} "></script>
  <script src="{% static "js/jquery-ui.js" %} "></script>
  <script src="{% static "js/popper.min.js" %} "></script>
  <script src="{% static "js/bootstrap.min.js" %} "></script>
  <script src="{% static "js/owl.carousel.min.js" %} "></script>
  <script src="{% static "js/jquery.countdown.min.js" %} "></script>
  <script src="{% static "js/jquery.easing.1.3.js" %} "></script>
  <script src="{% static "js/aos.js" %} "></script>
  <script src="{% static "js/jquery.fancybox.min.js" %} "></script>
  <script src="{% static "js/jquery.sticky.js" %} "></script>
  <script src="{% static "js/isotope.pkgd.min.js"" %} "></script>


  <script src="{% static "js/main.js" %} "></script>

  </body>
</html>
