{% extends "index.html" %}
{% load static %}

{% block pagename %}Выход из аккаунта{% endblock %}

{% block content %}

<div class="site-blocks-cover " style="background-image: url({% static "images/hero_2.jpg" %});" id="home-section"><div>

<section class="site-section border-bottom" id="team-section">
  <div class="container">
    <div class="form-group">
      <h1>Выход из аккаунта</h1>
      <p>Вы успешно вышли из аккаунта. Вы можете снова <a href="/digital/login/">авторизироваться</a>.</p>
    </div>
  </div>
</section>


{% endblock %}
