{% extends "index.html" %}
{% load static %}

{% block pagename %}Авторизация{% endblock %}

{% block content %}

<div class="site-blocks-cover " style="background-image: url({% static "images/hero_2.jpg" %});" id="home-section">
<div>
<section class="site-section border-bottom" id="team-section">
   <div class="container">
      <div class="form-group">
         <br>
         <h1>Авторизация</h1>
         {% if form.errors %}
         <p>
            Имя вашей организации или пароль не совпадают.
            Повторите попытку еще раз
         </p>
         {% else %}
         <p>Пожалуйста, заполните форму для авторизации:</p>
         {% endif %}
         <div class="login-form">
            <form action="{% url 'login' %}" method="post">
               <div class="col-md-6">
                  {{ form.as_p }}
                  {% csrf_token %}
               </div>
               <input type="hidden" name="next" value="{{ next }}"/>
               <p><input type="submit" value="Войти" class="btn btn-primary btn-md text-white"></p>
            </form>
         </div>
      </div>
   </div>
</section>


{% endblock %}
