{% extends "index.html" %}
{% load static %}

{% block pagename %}Регистрация новой организации{% endblock %}

{% block content %}


<div class="site-blocks-cover " style="background-image: url({% static "images/hero_2.jpg" %});" id="home-section">
  <div>

<section class="site-section border-bottom" id="team-section">
  <div class="container">
    <br>
    <h1>Добро пожаловать на наш ресурс, {{ new_user.first_name }}!</h1>
    <p>Ваш аккаунт успешно создан, сейчас вы можете  <a href="/digital/login/">авторизироваться</a>.</p>
</div>
</section>


{% endblock %}
