{% extends "index.html" %}
{% load static %}

{% block pagename %}Регистрация новой организации{% endblock %}

{% block content %}

<div class="site-blocks-cover" style="background-size: cover; background-image: url({% static "images/hero_2.jpg" %});" id="home-section">
<section class="site-section border-bottom" id="team-section">
   <div class="container">
      <div class="row">
         <div class="col-md-12 mb-5">
            <div class="form-group">
               <div class="alert alert-warning" role="alert" style="margin-top:50px;">
                  Внимание, регистрация необходима ТОЛЬКО для организаций!
                  <br>
                  Для использования функционала платформы обучающимися регистрация не требуется.
               </div>
               <br>
               <h1>Регистрация новой организации</h1>
               <form action="." method="post">
                  <div class="row form-group">
                     <div class="col-md-6">
                        {{ user_form.as_p }}
                        {% csrf_token %}
                     <p><input type="submit" value="Создать аккаунт" class="btn btn-primary btn-md text-white"></p>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
</div>
<footer class="site-footer"></footer>

{% endblock %}
