{% extends "index.html" %}
{% load static %}

{% block pagename %}Моя организация{% endblock %}

{% block content %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<hr class="">
<div class="container target" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-10">
             <h1 class="">{{User}}</h1>

<br>
        </div>
      <div class="col-sm-2"><img title="profile image" class="img-circle img-responsive" src="{% static '/img/kaspersky-rebranding-in-details-featured.jpg' %} ">

        </div>
    </div>
  <br>
  <div class="row">

      <!--/col-3-->
      <div class="col-sm-12" style="" contenteditable="false">
          <div class="panel panel-default">
            <form action="." method="post">
               <div class="row form-group">
                  <div class="col-md-12">
                    <p><input type="text" name="name" placeholder="Введите название видео" value="" ></p>
                  </div>
                  <div class="col-md-12">
                    <p><input type="" name="href" placeholder="Введит iframe" value="" ></p>
                  </div>
                  <div class="col-md-12">
                    <textarea name="discription" placeholder="Введите описание видео" value=""></textarea>
                  </div>
                  <div class="col-md-12">

                    <select name="profession">
                      {% for i in  Professions%}
                        <option>{{ i }}</option>
                      {% endfor %}
                    </select>
                  </div>
               </div>
               <button type="submit">Загрузить</button>
            </form>
          </div>
          </div>
          </div>

</div>

{% endblock %}
