{% extends "index.html" %}
{% load static %}

{% block pagename %}Поиск профессии{% endblock %}

{% block content %}

<body style="background-color: rgb(224,233,248);">
    <div class="container-fluid" style="background-color: rgb(255,255,255);margin-right: 50px;margin-bottom: 10px;margin-left: 50px;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;width: 90%;">
        <h1 class="text-center border-primary" style="color: rgb(112,64,95);font-family: Lora, serif;margin-top:100px;">Поиск подходящей професии</h1>
        <div class="d-xl-flex justify-content-xl-center align-items-xl-center"><img src="{% static '/img/7684cdacb0fe3716bc46c6b6266c02a0.jpg' %} " style="margin: 10px;margin-left: 10px;"></div>
        <form class="border rounded-0 shadow-lg" style="margin-left: 20px;background-color: #f8ffff;" method="POST" action="">
            <div id="all-profess" class="container" style="padding-top: 10px;margin-left: 30px;border-bottom: 1px dotted #ccc;padding: 0 0 20px 0;margin-top: 10px;">
                <h2 style="font-family: Lora, serif;padding: 5px;padding-bottom: 10px;">Области образования</h2>

                {% for area in context %}

                <div id="{{ area.name }}" class="row">
                    <h5 class="text-center" style="font-family: Montserrat, sans-serif;padding: 5px;">
<!--                         <input type="checkbox" style="padding: 5px;margin: 5px;" name="{{ area.name }}">  -->
                            {{ area.name }} 
                        <br>
                    </h5>

                    <div class="container">
                    {% for group in area.groups %}

                        <div class="row" style="margin-right: 0px;margin-left: 0px;">
                            <h5 class="text-center" style="font-family: Montserrat, sans-serif;padding: 5px;">
<!--                                 <input type="checkbox" style="padding: 5px;margin: 5px;" name="{{ group.name }}">  -->
                                    {{ group.name }} 
                                <br>
                            </h5>

                            <div class="container">
                            {% for profession in group.professions %}
                                <div class="row" style="font-family: Lora, serif;">
                                    <h5 class="text-center" style="font-family: Montserrat, sans-serif;padding: 5px;margin-left: 15px;">
                                        <input type="checkbox" style="padding: 5px;margin: 5px;" name="{{ profession }}">
                                            {{ profession }}
                                        <br>
                                    </h5>
                                </div>

                            {% endfor %}
                            </div>
                        </div>

                    {% endfor %}
                    </div>
                </div>

                {% endfor %}

               
            <div id="regions" class="container" style="padding-top: 10px;margin-left: 20px;border-bottom: 1px dotted #ccc;padding: 0 0 20px 0;margin-top: 10px;">
                <h2 style="font-family: Lora, serif;padding: 5px;padding-bottom: 10px;">Регионы</h2>
                <div class="row" style="padding-left: 18px;">
                    <input class="form-control" type="text" id="inputCity" placeholder="Санкт-Петербург" style="padding-left: 12px;" name="Регионы">
                </div>
            </div>
            <div id="regions" class="container" style="padding-top: 10px;margin-left: 20px;border-bottom: 1px dotted #ccc;padding: 0 0 20px 0;margin-top: 10px;">
                <h2 style="font-family: Lora, serif;padding: 5px;padding-bottom: 10px;">Организации</h2>
                <div class="row" style="padding-left: 18px;">
                    <input class="form-control" type="text" id="inputCity" placeholder="Касперский" style="padding-left: 12px;" name="Организации">
                </div>
            </div>
            <button class="btn btn-secondary d-xl-flex" type="submit" style="margin: 25px;">
                Применить
            </button>
        </form>

        <div class="container" wfd-id="74">
            <div class="row row-media" wfd-id="75">
                    <div class="col-md-6 column-media" wfd-id="77">

                        {% for frame in frames %}

                        <div class="fluid-width-video-wrapper" style="padding-top:10%;" wfd-id="78">
                            {{ frame.youTubeHref|safe }}
                        </div>

                    </div>
                    <div class="col-md-6 column-text" wfd-id="76">
                        <h2>{{ frame.name }}</h2>
                        <p> {{ frame.discription }} </p>
                        <a href="/digital/company/{{ frame.organization }}">Сайт организации</a>
                    </div>

                        {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static '/js/jquery.min.js' %} "></script>
    <script src="{% static '/css/bootstrap/js/bootstrap.min.js' %} "></script>
</body>

</html>

{% endblock %}