{% extends "index.html" %}
{% load static %}

{% block pagename %}Моя организация{% endblock %}

{% block content %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<hr class="">
<div class="container target" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-10">
             <h1 class="">{{ company_name }}</h1>

        {% if sessid == True %}

        <form method="POST" action="">
          <button type="submit" name="upload" class="btn btn-success">Загрузить видео</button>  
          <button type="submit" name="change" class="btn btn-info">Изменить профиль</button>
        </form>
<br>

        {% endif %}

        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item" contenteditable="false"><h4><b>Список профессий</li></b></h4>
                <li class="list-group-item text-right">Информационная безопасность</li>
                <li class="list-group-item text-right">Организация и технология защиты информации</li>
                    <li class="list-group-item text-right">Прикладная информатика (по отраслям)</li>
            </ul>
           <div class="panel panel-default">
             <div class="panel-heading"><h4><b>Связаться с консльтантом</b></h4>

                </div>
                <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i> Здесь контакты консультанта

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4><b>Вы также можете узнать о нас на Youtube</b></h4>

                </div>
                <div class="panel-body"><a href="http://bootply.com" class="">https://youtu.be/zlGWKYieEF0</a>

                </div>
            </div>
          
            <ul class="list-group">
                <li class="list-group-item text-muted"><h4><b>Наша репутация</b></h4> <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Посещений страницы</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Лайки</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Видео</strong></span> 37</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Подали заявку</strong></span> 78</li>
            </ul>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><b>Информация</b></h4></div>
                <div class="panel-body"> «Лаборатория Касперского» открывает для молодых специалистов уникальные возможности карьерного развития. Сегодня индустрия информационной безопасности является одной из самых интересных и востребованных в мире, поэтому здесь каждый сможет найти что-то для себя – и студенты технических специальностей, и студенты бизнес-направлений. Ждем вас на стажировку в «Лаборатории Касперского»!

                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false"><h4><b>Видео</b></h4></div>
                <div class="panel-body">
                  <div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<iframe width="240" height="200" src="https://www.youtube.com/embed/zlGWKYieEF0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="capiotn">
							<h3>
								Kaspersky Russia
							</h3>
							<p>
								Узанайте о нас больше!
							</p>
							<p>
							
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<iframe width="240" height="200" src="https://www.youtube.com/embed/2SwZo4mXfPQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="caption">
							<h3>
								Kaspersky Russia
							</h3>
							<p>
								Передовые технологии предотвращения мошенничества – Как это работает?
							</p>
							<p>
							
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<iframe width="240" height="200" src="https://www.youtube.com/embed/cVKCcU_D-8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="caption">
							<h3>
								Kaspersky Russia
							</h3>
							<p>
								Как очистить компьютер с помощью Kaspersky Internet Security 20
							</p>
							<p>
							
							</p>
						</div>
                </div>
            </div>   
            </div>   
        </div>    
    </div>
	<script src="/plugins/bootstrap-pager.js"></script>
</div>

{% endblock %}