{% extends "index.html" %}
{% load static %}

{% block pagename %}Моя организация{% endblock %}

{% block content %}

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<hr class="">
<div class="container target" style="margin-top:100px;">
  <div class="row">
      <div class="col-sm-10">
           <h1 class="">Тест на определение профориентации</h1>
           {% if test_list %}
              <form method="POST" action="">
                {{ testing_form }}
                  <button type="submit" name="result" class="btn btn-info">Узнать результат</button>
              </form>
            {% elif finded_prof %}
            <div class="panel panel-default">
                <div class="panel-heading"><h4><b>Вам подходят следующие направления профессии</b></h4></div>
                    <div class="panel-body">
                      {% for key, value in profession_proc.items %}
                      <b>{{ key }}</b> - {{value }}%
                      <br>
                      {% endfor %}
                      {% for key in profession_proc %}
                        <b>{{ key.0 }}</b> - {{ key.1 }}%
                        <br>
                      {% endfor %}
                    </div>
                  </div>
                </div>
            {% else %}
              Мы не нашли для тебя подходящую профессию
            {% endif %}

            <br>
            <br>
            <br>
            <br>
      </div>
  </div>



  <script src="/plugins/bootstrap-pager.js"></script>
</div>


{% endblock %}
